body {
    height: 100vh;
}

.container {
    height: 600px;
    width: 70%;
    border: 1px solid black;
    position: relative;
}

button {
    width: 160px;
    height: 40px;
}

.first, .last {
    height: 45%;
    width: 40%;
    position: absolute;
}

.first {
    left: 0;
}

.last {
    right: 0;
}

.selected {
    height: 60%;
    width: 50%;
    z-index: 10;
    position: absolute;
    left: 25%;
}

.smooth-transition {
    transition: 2s;
}